body{
    margin: 0;
    padding-top:0px;
    padding-bottom: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    margin: -28px auto 0 auto;
    color: rgb(42, 100, 39);
}
p{
    text-align: center;
    color: rgba(36, 224, 26, 0.527);
}
.TOP{
    background-color: #e0f7e0;
    position: relative;
    padding-top: 100px;
    height: 500px;
}
.MIDDLE{
    background-color: rgb(227, 253, 203);
    color: rgb(42, 100, 39);
}
.hob{
    background-color: rgb(161, 246, 161);
}
.profile{
    background-color: rgb(161, 246, 161);
}
.profile img{
    width: 185px;
    border-radius: 360%;
}
.center{

        margin-left: auto;
        margin-right: auto;
      }

.skill-one{
    width: 200px;
}
.draw{
    width: 246px; 
}
.edit{
    width: 150px;
}
.music{
    width: 150px;
}
.skill-two{
    width: 150px;
}
.skill-row ul{
    list-style: none;
}
.top-pic{background-repeat: no-repeat;
   position: absolute;
   margin-top:6px;
   margin-left: 200px;
   height:200px ;
   width: 400px;
}
.bot-pic{background-repeat: no-repeat;
    position: absolute;
    margin-top: -75px;
    margin-left:-10px;
    height:200px ;
    width: 400px;
}
.mou-pic{
    text-align: center;
    height:430px;
    width: 1060px;
}
.foot{
    width: 100%;
    height: 144px;
    margin-bottom: 100px;
    background: url('bus-removebg-preview.png') no-repeat;
    background-size: 373px 173px;
    background-position-y: 100px ;
    background-position: 120% 0px;
    animation:bus 10s linear infinite;
}
@keyframes bus{
    from {background-position:0 0;
    }

    to {background-position:-2122 0;
    }
}
h4{
    color:  rgb(42, 100, 39);
}